################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/HelloWorld/.vs/HelloWorld/v15
/HelloWorld/HelloWorld/obj
/HelloWorld/HelloWorld/bin/Debug/netcoreapp2.0
/WaldoProgram/WaldoProgram/bin/Debug/netcoreapp2.0
/WaldoProgram/WaldoProgram/obj
/HelloWorld/.vs/HelloWorld/DesignTimeBuild
/WaldoProgram/.vs/WaldoProgram/v15
/WaldoProgram/.vs/WaldoProgram/DesignTimeBuild
