################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/HelloWorld/.vs/HelloWorld/v15
/HelloWorld/HelloWorld/obj
/HelloWorld/HelloWorld/bin/Debug/netcoreapp2.0
/WaldoProgram/WaldoProgram/bin/Debug/netcoreapp2.0
/WaldoProgram/WaldoProgram/obj
/HelloWorld/.vs/HelloWorld/DesignTimeBuild
/WaldoProgram/.vs/WaldoProgram/v15
/WaldoProgram/.vs/WaldoProgram/DesignTimeBuild
/CalculatorLib/.vs/CalculatorLib
/CalculatorLib/CalculatorLib/bin/Debug/netstandard2.0
/CalculatorLib/CalculatorLib/obj
/CalculatorLib/CalculatorTests/bin/Debug/netcoreapp2.1
/CalculatorLib/CalculatorTests/obj
/Homework04/.vs/Homework04/v15
/Homework04/Homework04/bin/Debug/netcoreapp2.1
/Homework04/Homework04/obj
/Midterm Project/.vs/Midterm Project
/Midterm Project/CalculatorLib/obj
/Midterm Project/CalculatorLib/bin/Debug/netcoreapp2.1
/Midterm Project/CalculatorTests/bin/Debug/netcoreapp2.1
/Midterm Project/CalculatorTests/obj
/Midterm Project/Midterm Project/bin/Debug/netcoreapp2.1
/Midterm Project/Midterm Project/obj
/Final Project/.vs/Final Project/v15/Server/sqlite3
