################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/HelloWorld/.vs/HelloWorld/v15
/HelloWorld/HelloWorld/obj
/HelloWorld/HelloWorld/bin/Debug/netcoreapp2.0
